<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.startng.newsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="sayTG Note App"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NewNoteActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="New Note"/>
        <activity
            android:name="user_register.LoginActivity"
            android:label="@string/sign_in_here" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:label="DASHBOARD">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name="user_register.RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name=".Start_Activity"
            android:label="@string/welcome" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>